@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror {
    font-size: 14px;
    border-radius: 0.5rem;
    height: 80vh !important;
    border-width: 2px;
    border-color: rgb(209, 213, 219);
}

@media (prefers-color-scheme: dark) {
    .CodeMirror {
        border-color: rgb(55, 65, 81);
    }
}

.CodeMirror-gutters {
    border-right: 1px solid #e5e7eb;
}
